
body {
  background: #ddd7d2;
  text-align: center;
}

h2 {
  color: #70665f;
  font-family: 'Futura', sans-serif; 
  font-size: 4.5rem;
  margin-bottom: 25px;   
}

/*MAIN SECTIONS*/
.inkGroup, 
.printGroup, 
.bitmapGroup, 
.artGroup {
  display: flex;
  justify-content: center;
}
