.ink-button-list {
  // Ink Color Variables
  $color-1: rgba(255, 255, 255, 0.7);
  $color-2: #675545;
  $color-3: #c9b280;
  $color-4: #9d3d25;
  $color-5: #ffffff;
  // Width of Button Variables
  $btn-width-sm: 10%;
  $btn-width-md: 10%;

  text-align: center;
  display: flex;
  justify-content: center;

  .color-1 {
    background: $color-1;
  }

  .color-2 {
    background: $color-2;
  }

  .color-3 {
    background: $color-3;
  }

  .color-4 {
    background: $color-4;
  }

  .color-5 {
    background: $color-5;
  }

  .color-reset {
    background: rgba(255, 255, 255, 0.2);
  }

  .white {
    background: white;
  }

  /* INK BUTTONS */
  .btn {
    border-radius: 6px;
    border-style: none;
    display: inline-block;
    height: 40px;
    margin-bottom: 8px;
    width: $btn-width-sm;

    @include bp(md) {
      width: $btn-width-md;
    }
  }

  .btn:focus {
    border: none;
    outline: none
  }

  .btn:hover {
    opacity: 0.6;
  }

  .btn.active {
    opacity: 0.6;
    transform: translateY(2px);
  }

  .darkText {
    color: black;
    font-family: sans-serif;
    font-size: 0rem;
    font-weight: bold;

    @include bp(md) {
      font-size: 1.4rem;
    }
  }

  .lightText {
    color: white;
    font-family: sans-serif;
    font-size: 0rem;
    font-weight: bold;

    @include bp(md) {
      font-size: 1.4rem;
    }
  }

  .resetText {
    color: white;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 200;

    @include bp(md) {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  .overview-btn {
    border-radius: 0px;
    border: none;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    height: 25px;
    line-height: 2.8rem;
    width: 100%;
  }
}
