// Media breakpoint helper based on breakpoints below
// Credit: http://css-tricks.com/conditional-media-query-mixins/
@mixin bp($point) {
  @if $point == md {
    @media #{$screen-md} { @content; }
  } @else if $point == lg {
    @media #{$screen-lg} { @content; }
  } @else if $point == xl {
    @media #{$screen-xl} { @content; }
  }
}
// Media Query Breakpoints
// Small devices (mobile less than 605px)
// ** No media query since this is mobile-first **
// Medium devices (tablets, 600px and up)
$screen-md: '(min-width: 600px)';
// Large devices (desktops, 1024px and up)
$screen-lg: '(min-width: 1024px)';
// Extra Large devices (large desktops, 1440px and up)
$screen-xl: '(min-width: 1440px)';
