// This file contains styling for both the
// print-image-list & bitmap-image-list versions.
// bitmap-image-list Variables below vvv

.print-image-list {
  // Image Variables
  $img-all: 'http://www.oxleberry.com/interactive/screenprints/teo/images/pAll.png';
  $img1: 'http://www.oxleberry.com/interactive/screenprints/teo/images/p1.png';
  $img2: 'http://www.oxleberry.com/interactive/screenprints/teo/images/p2.png';
  $img3: 'http://www.oxleberry.com/interactive/screenprints/teo/images/p3.png';
  $img4: 'http://www.oxleberry.com/interactive/screenprints/teo/images/p4.png';
  $img5: 'http://www.oxleberry.com/interactive/screenprints/teo/images/p5.png';
  // Change the horizontal, vertical placement of image.
  $img-position: 50%;
  // Change the image size across different breakpoints.
  $img-size-sm: 100%;
  $img-size-md: 100%;
  $img-size-lg: 65%;


  display: flex;
  height: 220px;
  justify-content: center;

  @include bp(md) {
    height: 280px;
  }

  @include bp(lg) {
    height: 500px;
  }

  .img-all {
    background: url($img-all);
    opacity: 1;
  }

  .img1 {
    background: url($img1);
    opacity: 0.7;
  }

  .img2 {
    background: url($img2);
    opacity: 1;
  }

  .img3 {
    background: url($img3);
    opacity: 1;
  }

  .img4 {
    background: url($img4);
    opacity: 1;
  }

  .img5 {
    background: url($img5);
    opacity: 1;
  }

  .sidebyside-container {
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 50%;
  }

  .img-wrapper{
    background-position: $img-position;
    background-repeat: no-repeat;
    background-size: $img-size-sm;
    height: 100%;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 100%;

    @include bp(md) {
      background-size: $img-size-md;
    }

    @include bp(lg) {
      background-size: $img-size-lg;
    }
  }
}


.bitmap-image-list {
  // Image Variables
  $img-all: 'http://www.oxleberry.com/interactive/screenprints/teo/images/bitAll.png';
  $img1: 'http://www.oxleberry.com/interactive/screenprints/teo/images/bit1.png';
  $img2: 'http://www.oxleberry.com/interactive/screenprints/teo/images/bit2.png';
  $img3: 'http://www.oxleberry.com/interactive/screenprints/teo/images/bit3.png';
  $img4: 'http://www.oxleberry.com/interactive/screenprints/teo/images/bit4.png';
  $img5: 'http://www.oxleberry.com/interactive/screenprints/teo/images/bit5.png';
  // Change the horizontal, vertical placement of image.
  $img-position: 72% 44%;;
  // Change the image size across different breakpoints.
  $img-size: 216%;


  justify-content: center;
  display: flex;
  height: 220px;

  @include bp(md) {
    height: 280px;
  }

  @include bp(lg) {
    height: 500px;
  }

  .img-all {
    background: url($img-all);
    opacity: 1;
  }

  .img1 {
    background: url($img1);
    opacity: 0.6;
  }

  .img2 {
    background: url($img2);
    opacity: 1;
  }

  .img3 {
    background: url($img3);
    opacity: 1;
  }

  .img4 {
    background: url($img4);
    opacity: 1;
  }

  .img5 {
    background: url($img5);
    opacity: 1;
  }

  .sidebyside-container {
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 50%;
  }

  .img-wrapper {
    background-position: $img-position;
    background-repeat: no-repeat;
    background-size: $img-size;
    height: 100%;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 100%;
  }
}

// Animation
.print-image-list,
.bitmap-image-list {
  .slideRT { animation: slideRT 1.5s ease-in-out 1 forwards; }
  .slideLT { animation: slideLT 1.5s ease-in-out 1 forwards; }

  @keyframes slideRT {
    0% { transform: translateX(0px); }
    100% { transform: translateX(102%); }
  }

  @keyframes slideLT {
    0% { transform: translateX(102%); }
    85% { opacity: 0.7; }
    100% {
      opacity: 0;
      transform: translateX(0px);
    }
  }
}
